@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p></p>

@CustomHelper.AlertMessages()
<div>
    <a href="#" onclick="getModalContent('@Url.Action("Crear",new { area="Factoria" })'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Crear nuevo
    </a>
</div>
<p></p>
<div class="row">
    @CustomHelper.RowSizeDropdown()
    <div class="col-lg-8" id="paginator-container">
        <div class="paginator"></div>
    </div>
</div>


<div id="personContent"></div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/unobtrusive-ajax")

@<script src="~/Scripts/jquery.bootpag.min.js" type="text/javascript"></script>*@
@CustomHelper.GetModal("Person")


@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/Shared/Modal.js" type="text/javascript"></script>

<script src="~/Areas/Factoria/Scripts/Person.js" type="text/javascript"></script>





<script type="text/javascript">

    var pageSizeAction = '@Url.Action("PageSize", new { controller = "Cliente", area = "Factoria" })';
    var listAction = '@Url.Action("List", new { controller = "Cliente", area = "Factoria" })';
</script>